
MemoryGrid/Memory21102019/obj/Debug/Memory21102019_MarkupCompile.lref
MemoryGrid/Memory21102019/obj/Debug/Memory21102019_MarkupCompile.cache
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.pdb
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.g.resources
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.exe
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.csprojAssemblyReference.cache
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.csproj.GenerateResource.cache
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.csproj.FileListAbsolute.txt
MemoryGrid/Memory21102019/obj/Debug/Memory21102019.csproj.CoreCompileInputs.cache
